* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-spacing: 0;
  box-sizing: border-box;
}

input {
  height: min(calc(80vh / 10), calc(80vw / 10));
  width: min(calc(80vh / 10), calc(80vw / 10));
  text-align: center;
  appearance: none;
  font-size: min(6vh, 6vw);
}

input:invalid,
.invalide {
  border: 1px solid red;
  background-color: #eec3c3;
}

input[readonly] {
  color: blue;
}

table {
  margin: 0 auto;
}

tr {
  border-bottom: 1px solid #ccc;
  display: block;
}

tr:nth-of-type(3), tr:nth-of-type(6)  {
  border-bottom: 1px solid #000;
}

td {
  border-right: 1px solid #ccc;
}

td:nth-of-type(3), td:nth-of-type(6)  {
  border-right: 1px solid #000;
}

button {
  display: block;
  margin: 1em auto 0;
  padding: 0.5em 2em;
  font-size:  min(3vh, 3vw);
  border-radius: 10px;
}

.logo {
  height: 120px;
  width: 120px;
}

.myHeaderNav {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 15vh;
  justify-content: space-around;
  margin: 0 auto;
}

.myNav {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
}

.myNav button:hover {
  background-color: rgba(136, 239, 239, 0.944);
}
